<article class="article">
  <h3 class="article-title">
    <a href="#">Artice 1 Html 5 Dersi</a>
    <span class="article-date">
      <i class="fas fa-clock"></i>
      <span>18 Dakika Önce</span>
    </span>
  </h3>
  <p class="article-desc">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum excepturi
    inventore, necessitatibus totam doloremque impedit accusantium magnam earum
    voluptatem corrupti eligendi. Id aspernatur nulla animi assumenda enim sit.
  </p>
  <hr />
  <div class="actions">
    <span class="article-view">
      <i class="far fa-eye"></i>
      <span>84</span>
    </span>
    <span class="article-like">
      <i class="far fa-heart"></i>
      <span>64</span>
    </span>
    <span class="article-comment">
      <i class="far fa-comment"></i>
      <span>27</span>
    </span>
  </div>
</article>
<article class="article">
  <h3 class="article-title">
    <a href="#">Artice 2 Css 3 Dersi</a>
    <span class="article-date">
      <i class="fas fa-clock"></i>
      <span>18 Dakika Önce</span>
    </span>
  </h3>
  <p class="article-desc">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore sapiente,
    mollitia ducimus voluptatibus eveniet iusto accusamus reprehenderit optio
    necessitatibus qui illum, eaque, facilis aliquid cumque maxime
    exercitationem.
  </p>
  <hr />
  <div class="actions">
    <span class="article-view">
      <i class="far fa-eye"></i>
      <span>84</span>
    </span>
    <span class="article-like">
      <i class="far fa-heart"></i>
      <span>64</span>
    </span>
    <span class="article-comment">
      <i class="far fa-comment"></i>
      <span>27</span>
    </span>
  </div>
</article>
<article class="article">
  <h3 class="article-title">
    <a href="#">Artice 3 JavaScript Dersi</a>
    <span class="article-date">
      <i class="fas fa-clock"></i>
      <span>18 Dakika Önce</span>
    </span>
  </h3>
  <p class="article-desc">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit fuga, nulla
    similique aliquid molestias aliquam sequi incidunt optio quisquam libero
    dignissimos vero qui cum obcaecati, maiores ipsam!
  </p>
  <hr />
  <div class="actions">
    <span class="article-view">
      <i class="far fa-eye"></i>
      <span>84</span>
    </span>
    <span class="article-like">
      <i class="far fa-heart"></i>
      <span>64</span>
    </span>
    <span class="article-comment">
      <i class="far fa-comment"></i>
      <span>27</span>
    </span>
  </div>
</article>
<article class="article">
  <h3 class="article-title">
    <a href="#">Artice 4 VueJS 3 Dersi</a>
    <span class="article-date">
      <i class="fas fa-clock"></i>
      <span>18 Dakika Önce</span>
    </span>
  </h3>
  <p class="article-desc">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae
    voluptates, molestias odit cum nam quae a omnis incidunt temporibus
    inventore perspiciatis, quod qui exercitationem quasi in nobis!
  </p>
  <hr />
  <div class="actions">
    <span class="article-view">
      <i class="far fa-eye"></i>
      <span>84</span>
    </span>
    <span class="article-like">
      <i class="far fa-heart"></i>
      <span>64</span>
    </span>
    <span class="article-comment">
      <i class="far fa-comment"></i>
      <span>27</span>
    </span>
  </div>
</article>
<article class="article">
  <h3 class="article-title">
    <a href="#">Artice 5 Php 8 Dersi</a>
    <span class="article-date">
      <i class="fas fa-clock"></i>
      <span>18 Dakika Önce</span>
    </span>
  </h3>
  <p class="article-desc">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quam corrupti
    earum officia harum? Inventore quasi consequatur perspiciatis. Asperiores
    debitis nesciunt magnam distinctio neque ea eius? Eligendi?
  </p>
  <hr />
  <div class="actions">
    <span class="article-view">
      <i class="far fa-eye"></i>
      <span>84</span>
    </span>
    <span class="article-like">
      <i class="far fa-heart"></i>
      <span>64</span>
    </span>
    <span class="article-comment">
      <i class="far fa-comment"></i>
      <span>27</span>
    </span>
  </div>
</article>
<article class="article">
  <h3 class="article-title">
    <a href="#">Artice 6 MEVN Stack Proje Geliştirme</a>
    <span class="article-date">
      <i class="fas fa-clock"></i>
      <span>18 Dakika Önce</span>
    </span>
  </h3>
  <p class="article-desc">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum maxime in eius
    error. Voluptatum repellendus, quos, rem error quaerat assumenda nemo
    praesentium voluptas, dicta corporis deserunt quibusdam!
  </p>
  <hr />
  <div class="actions">
    <span class="article-view">
      <i class="far fa-eye"></i>
      <span>84</span>
    </span>
    <span class="article-like">
      <i class="far fa-heart"></i>
      <span>64</span>
    </span>
    <span class="article-comment">
      <i class="far fa-comment"></i>
      <span>27</span>
    </span>
  </div>
</article>