<header class="header">
  <div class="container">
    {{! Logo }}
    <a class="logo" href="/">
      <strong>{{config.site_name}}</strong>
    </a>
    {{! /Logo }}
    {{! Navigation }}
    {{>navigation}}
    {{! /Navigation }}
  </div>
</header>