<nav class="navigation">
  <ul class="menu">
    <li>
      <a href="/" {{#ifEqual config.now_url "/" }} class="active" {{/ifEqual}}>Blog</a>
    </li>
    <li>
      <a
        href="/categories"
        {{#ifEqual config.now_url "/categories" }} class="active" {{/ifEqual}}
      >Kategotiler</a>
    </li>
    <li>
      <a href="/gallery" {{#ifEqual config.now_url "/gallery" }} class="active" {{/ifEqual}}>Galeri</a>
    </li>
    <li>
      <a href="/about" {{#ifEqual config.now_url "/about" }} class="active" {{/ifEqual}}>Hakkımda</a>
    </li>
    <li>
      <a
        href="/contact"
        {{#ifEqual config.now_url "/contact" }} class="active" {{/ifEqual}}
      >İletişim</a>
    </li>
  </ul>
</nav>