<nav class="navigation">
  <ul class="menu">
    <li>
      <a href="/">Blog</a>
    </li>
    <li>
      <a href="/categories">Kategotiler</a>
    </li>
    <li>
      <a href="/about">Hakkımda</a>
    </li>
    <li>
      <a href="/contact">İletişim</a>
    </li>
  </ul>
</nav>