<aside class="aside">
  <div class="categories">
    <header class="aside-header">
      <i class="fas fa-bars"></i>
      <strong>Kategoriler</strong>
    </header>
    <ul class="categories">
      <li>
        <a href="/category/html">Html 5</a>
      </li>
      <li>
        <a href="/category/css">Css 3</a>
      </li>
      <li>
        <a href="/category/javascript">JavaScript</a>
      </li>
      <li>
        <a href="/category/vuejs">VueJS 3</a>
      </li>
      <li>
        <a href="/category/nodejs">NodeJS</a>
      </li>
      <li>
        <a href="/category/php">Php 8</a>
      </li>
    </ul>
  </div>
  <div class="sidebar">
    <strong>
      Beni
      <mark>Instagram</mark>
      ve
      <mark>GitHub</mark>
      üzerinden takip etmeyi unutmayınız
    </strong>
    <hr />
    <div class="social-icons">
      <a href="https://instagram.com/">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://twitter.com/">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://github.com/">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://facebook.com/">
        <i class="fab fa-facebook"></i>
      </a>
    </div>
  </div>
</aside>