<main id="categoriesPage">
  <h1 class="header">Kategoriler</h1>
  <ul class="categories">
    <li>
      <a
        style="background-image: url('/img/categories/html5.png')"
        href="/category/html5"
      >Html 5</a>
    </li>
    <li>
      <a
        style="background-image: url('/img/categories/css3.png')"
        href="/category/css3"
      >Css 3</a>
    </li>
    <li>
      <a
        style="background-image: url('/img/categories/javascript.png')"
        href="/category/javascript"
      >JavaScript</a>
    </li>
    <li>
      <a
        style="background-image: url('/img/categories/vuejs3.png')"
        href="/category/vuejs3"
      >Vue JS 3</a>
    </li>
    <li>
      <a
        style="background-image: url('/img/categories/nodejs.png')"
        href="/category/nodejs"
      >NodeJS</a>
    </li>
    <li>
      <a
        style="background-image: url('/img/categories/php8.png')"
        href="/category/php8"
      >Php 8</a>
    </li>
  </ul>
</main>