<main id="categoriesPage">
  <h1 class="header">Kategoriler</h1>
  <ul class="categories">
    {{#each categories}}
      <li>
        <a
          style="background-image: url('/img/categories/{{link}}.png')"
          href="/category/{{link}}"
        >
          {{name}}
        </a>
      </li>
    {{/each}}
  </ul>
</main>